    {% block content %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    
        <div class="x_content">
            <div class="modal fade bs-example-modal-lg" id="SectionName" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">Titre section creation</h4>
                        </div>
                        
                        <div class="modal-body">
                            {{ form_row(form.name) }}
                            <p><small>* champ obligatoire</small></p>
                        </div>
                            
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success"><i class="fa fa-download" aria-hidden="true"></i>Enregistrer</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
    {{ form_end(form) }}

    {% endblock %}

