{% extends ':back:templateAdmin.html.twig' %}


  {% block content %}
      {% for sound in sounds %} 
          <p>{{sound.titre}} <span>{{sound.stat}}</span></p> 
      {% endfor %} 
   {% endblock %}