/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 sept. 2017, 12:27:12
    Author     : hugues
*/



.input-label {
    background: #39D2B4;
    color: #fff;
    padding: 20px 30px;
    cursor: pointer;
}

.fa{
    margin-right: 10px;
}

#appbundle_sound_morceau{
  display: none;
}

#appbundle_sound_image {
    display: none;
}

#fos_user_profile_form_avatar {
    display: none;
}

.default-picture {
    width: 110px;
    margin-top: -25px;
    opacity: 0.6;
    
}

.default-avatar {
/*    background-image: url('./../../../web/images/user.png');*/
    
}

#selectImage {
    max-height: 15em;
    max-width: 15em;
    float: right;
    margin-right: 1em;
}

.checkbox label, .radio label {
    padding-left:0px;

}

.title-add {
    float: right;
    margin-top: 2px;
}

.title-add-list {
    float: right;
    margin-top: 5px;
}


///select-genre/////////

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #1ABB9C;
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;

}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: transparent;
    color: inherit;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #f6f6f6;
}


//pagination table sound///////

.dataTables_paginate a {
    background: #394D5F !important;
    border-color: #394D5F !important;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #fff;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

//btn ajouter sound///////

.page-title .title_left {
    position: relative;
}

.btn-title-left {
    position: absolute;
    top: 5px;
    left: 10em;
}


.fos_user_profile_edit, .fos_user_user_show {
    margin-top: 90px;
}
