//////general////////
@media screen and(max-width: 767px){
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 4px;
}


.dataTables_filter {
    width: 65%;
    float: none;
}

.nav-sm .x_panel {
    padding-left: 0;
    overflow: hidden;
}

.alert {
    padding-bottom: 5px;
    padding-top: 5px;
}
.panel_toolbox {
    float: left;
}
}

@media screen and(max-width: 1023px){
 .side-menu {
    margin-top: 0;
}   
}

@media screen and(min-width: 1024px){
.side-menu {
    margin-top: 100px;
}
}

.bs-docs-section {
    text-align: center;
}

.list-unstyled{
    word-wrap: break-word;
}

.site_title img {
    width: 28px;
}

.btn-right {
    float: right;
}

.txt-success {
    color:#5cb85c;
    
}

.txt-danger {
    color:#d43f3a;
    
}

.txt-bold {
    font-weight: 900;
}

///close popup/////////
.close {
    opacity: 1;
}

/// icon nav-left menu/////////
.fa{
    margin-right: 10px;
}

/// icon rubrique section/////////
.icon-section {
    font-size: 18px;
}

.label-genre {
    background-color: #1ABB9C;
}


/////style btn-upload //////

.input-label {
    background: #39D2B4;
    color: #fff;
    padding: 20px 30px;
    cursor: pointer;
}

/////// btn actions form /////
.no-mg-right {
    margin-right: 0;
}

.modal-btn {
    padding-left: 0;
    text-align: center;
    li {
    display: inline-block;
    list-style: none;
    }
}


/////// input type file /////
#appbundle_sound_morceau{
  display: none;
}

#appbundle_sound_image {
    display: none;
}

#appbundle_present_image {
    display: none;
}

#appbundle_header_image {
    display: none;
}

#appbundle_imagemobile_image {
    display: none;
}

#fos_user_profile_form_avatar {
    display: none;
}

#appbundle_promotion_image  {
    display: none;
}

.default-picture {
    width: 110px;
/*    margin-top: -20px;*/
/*    opacity: 0.6;*/   
}

.default-mobile {
   position: absolute;
   right: 0;
   top: 0;
}

.default-avatar {
/*  background-image: url('./../../../web/images/user.png');
  background-repeat: no-repeat;
  width: 195px;
  height: 195px;*/
    
}

#selectImage {
    max-height: 15em;
    max-width: 15em;
    float: right;
    margin-right: 1em;
}

//////////////
//////////////////

.checkbox label, .radio label {
    padding-left:0px;

}

.back-list {
    float: right;
    margin-top: 2px;
}

///select-genre/////////

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #1ABB9C;
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;

}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: transparent;
    color: inherit;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #f6f6f6;
}


//pagination table sound///////

.dataTables_paginate a {
    background: #394D5F !important;
    border-color: #394D5F !important;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #fff;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}


//btn ajouter sound///////

.page-title .title_left {
    position: relative;
}

.btn-title-left {
    top: 5px;
}

.form-control-feedback.left {
    top: 6px;
}

///////header style///////////////


.wrap {
    overflow: hidden;
    min-height: 20vh;
    
}
#animationSandbox {
    padding-top: 20px;
    font-family: $font_extra;
}

.info-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 25px;
    z-index: 10;
}

.info-header .alert {
    margin-bottom: 0;
    border-radius: 0;
}

.info-header .alert-success {
    background-color: rgba(38, 185, 154, 1);
    border-color: rgba(38, 185, 154, 1);    
    }

@media screen and(max-width: 767px){
.background-pochette {
    display: none;
}
}    

@media screen and(min-width: 768px){
.background-pochette {
    position: relative;
}
}

@media screen and(min-width: 768px){
.img-pochette-min {
   position: absolute;
   width: 286px;
   height: 285px;
   left: 25px;
   top:0;
   opacity: 0.8;
   border-top-left-radius: 2px;
   border-top-right-radius: 2px;
}
}


.animated-demo {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    animation-delay: 600ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated-demo.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

//////img header mobile/////////
/////////////////////////////

.thumbnail {
    height: auto;
}

.thumbnail .image {
    height: auto;
}

.caption {
    background: transparent;
    word-wrap: break-word;
}

.nb-img {
    display: inline-block;
}


.active-header{
    padding-top: 2px;
    position: absolute;
    padding-left: 10px;
}

.fa-circle {
  color: #5cb85c;
  font-size: 18px;

}

.no-activate {
    color: #d43f3a;
}

///////////////////
///////////////////

/////rubrique section/////////

.btn-section-add{
    padding-bottom: 15px;
    
    .fa{
        padding-left: 10px;
    }
    
    h2{
        text-transform: capitalize;
    }
}


.glyphicon img {
    width: 50px;
}

.bs-glyphicons .glyphicon {
    font-size: 12px;
}


.name-section-create {
    border-bottom: 2px solid;
    padding-bottom: 5px;
}

.col-md-4 .btn-title-left {
    left: 13em;
}


.count-sound {
    position: absolute;
}


.mn {
    position: absolute;
    top: 45px;
    left: 10px;
}

.alert-dark, .btn-dark {
    color: #E9EDEF;
    background-color: rgba(52, 73, 94, 0.88) !important;
    border-color: rgba(52, 73, 94, 0.88);
}

.alert-promo {
    margin-top: 53px;
}

//////////////home/////////////////////

.chart {
    .fa {
        margin-right: 0;
    }
    .percent {
        margin-right: 3px;
    }
}

.name_title {
        text-align: center;
        text-transform: capitalize;
    }

.percent:after {
    display: none;
}

.bg-hulk {
    background: #2ecc40 !important;
    border: 1px solid #2ecc40 !important;
    color: #fff;
}

/////////formulaire connexion/////////////

  #login {
    padding-left: 15px;
    padding-right: 15px;
}

.logo-connect {
    width: 30%;
}

.login_content form input[type="text"], .login_content form input[type="email"], .login_content form input[type="password"] {
    border-radius: 0;
}

.login_content form input[type="text"]:focus, .login_content form input[type="email"]:focus, .login_content form input[type="password"]:focus {
  -webkit-box-shadow: 0 0 2px  $color_primary inset;
  -moz-box-shadow: 0 0 2px  $color_primary inset;
  -ms-box-shadow: 0 0 2px  $color_primary inset;
  -o-box-shadow: 0 0 2px  $color_primary inset;
  box-shadow: 0 0 2px  $color_primary inset;
  background-color: #fff;
  border: 1px solid $color_primary;
  outline: none;
}



.login_content img {
    margin-top: -40px;
}

.remember {
    float: left;
    padding-top: 5px;
}

.login_content form input[type="submit"], #content form .submit {
    float:right;
    margin-left: 0;
    margin-right: 0;
}
