@media screen and(max-width:767px){
.contact {
     background-color: $color-background;    
}
}

.intro-contact {
    padding-top: 55px;
    position: relative;
    padding-left: 30px;
    color: $color_secondary;
    h3 {
        font-family: $font-extra;
        font-size: 30px;
    }
    p {
        padding-top: 10px;
        padding-bottom: 30px;
    }
}



@media screen and(min-width:768px) and (max-width:1024px){
.content-contact {
position: relative;
height: 100vh;
}
}

.content-contact {
position: relative;
}



@media screen and(max-width:767px){
.bg-contact {
    display: none;
}
}

@media screen and(min-width:768px){
.bg-contact {
background: url('../images/phone.jpg') no-repeat no-repeat;
background-size: cover;
height: 100vh;
width: 100%;
position: absolute;
}
}

@media screen and(min-width:1024px){
.bg-contact {
background: url('../images/phone.jpg') no-repeat no-repeat;
background-size: cover;
height: 100%;
width: 100%;
position: absolute;
}
}

@media screen and(min-width:768px)and(max-width:1024px){
.form-contact {
position: relative;
}
}

@media screen and(min-width:1024px)and(max-width:1200px){
.form-contact {
position: relative;
height: 85vh;
}
}

@media screen and(min-width:1200px){
.form-contact {
position: relative;
height: 85vh;
}
}

@media screen and(max-width:1024px){
    .contact-form {
        padding-top: 55px;
    }
}

.contact-form {
  list-style-type: none;
  li {
    div {
      margin-bottom: 2.5em;
    }
  }
  input,
  textarea,
  select {
    width: 100%;
    margin: 0;
    padding-bottom: 1.4em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 3px solid $color_secondary;
    background: transparent;
    color: $color_secondary;
    font-weight: 700;
    font-size: 18px;
    transition: ease-in-out 0.25s;
    border-radius: 0;
  }
  textarea {
    min-height: 50px;
    max-height: 500px;
    white-space: pre-wrap;
    word-wrap: break-word;
    resize: none;
    overflow: hidden;
  }
  ::-webkit-input-placeholder {
    font-size: 12px;
    color:$color_secondary;
    text-transform: uppercase;
    font-weight: 400;
  }
  label {
    font-size: 12px;
    color: $color_secondary;
    text-transform: uppercase;
    font-weight: 400;
  }
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
    resize: none;
    border-bottom: 3px solid $color_primary;
  }
  #slider-range-min {
    outline: 0;
    background: $color_secondary;
    height: 3.6em;
    border: 0;
    border-radius: 0;
    .ui-slider-range {
      background: $color_primary;
      border-radius: 0;
    }
    .ui-slider-handle {
      outline: 0;
      top: 1.1em;
      margin-left: -.6em;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 0;
      background: #fff;
      cursor: pointer;
    }
  }
  #amount {
    border: 0;
    color: $color_secondary;
    font-weight: 400;
    font-size: 28px;
    padding-top: 1.1em;
    letter-spacing: 3px;
  }
  button {
    color: $color_secondary;
    background: rgba(34, 34, 34, 0.0);
    border: 3px solid $color_primary;
    height: 74px;
    width: 200px;
    float: right;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: ease-in-out 0.25s;
    span {
      transition: ease-in-out 0.25s;
    }
  }
  button:hover {
    background: $color_primary;
    color: #fff;;
    span {
      padding-left: 10px;
      color: #fff;
    }
  }
}