/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 sept. 2017, 19:18:32
    Author     : hugues
*/


$base-clr: #39D2B4;

@mixin centerer {
  position: relative;
}

audio{
    position:absolute;
}

/*h2{
    font-size:26px;
	 margin: 14px 0;
    font-weight:700;
}*/


/*p{
    display: inline-block;
    font-size:14px;
    font-weight:400;
    margin-bottom:10px;
    color: grey;
}*/

.audio-player{
    @include centerer;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    transition:all 0.2s;
    width:20vw;
    margin-top: -20px;
    background:white;
    box-sizing: border-box;
    @media screen and (max-width: 560px){
        width:90vw;
        background:white;
    }
}

.info{
    flex:1;
    padding: 5px 30px;
}

.cover-art{
    position:absolute;
    bottom:160px;
    right:-30px;
    width: 230px;
    height:230px;
    background: url(http://laptevpavel.ru/playground/player/drassed-for-space.jpg);
    background-size: cover;
    @media screen and (max-width: 560px){
        position:relative;
        width:100%;
        height:80vw;
        bottom:inherit;
        right:inherit;
    }
    @media screen and (max-width: 520px){
        position:relative;
        width:100%;
        height:90vw;
        bottom:inherit;
        right:inherit;
    }
    @media screen and (max-height: 500px){
        display:none;
        width: 0px;
        height: 0px;
    }
   
    
}

.controls{
    display:flex;
    width:100%;
    height:100px;
    background:white;
    margin-top:-1px;
    padding:20px;
    box-sizing:border-box;
    &_plays{
        flex:2;
        display:flex;
        justify-content: space-around;
    }
    &_player{
        flex:1;
        fill: #394D5F;
        display:flex;
        justify-content: space-around;
    }
    @media screen and (max-width: 420px){
        flex-direction: column;
        height:200px;
    }
	transition: all 0.2s;
}

#plays_btn, #prev_btn, #next_btn{
    cursor:pointer;
    width:26px;
    max-width:18px;
    fill: #394D5F;
    &:hover{
        fill: #565349;
    }
    transition: all 0.2s;
}

#pause_btn{
    display:none;
}

#volume_btn, #shuffle_btn, #playlist_btn{
    cursor:pointer;
    width:23px;
    max-width:18px;
    //padding:10px;
    &:hover{
        fill: darken($base-clr, 30%);
    }
    transition: all 0.2s;
}

.progressbar_slide{
    width:100%;
    background:$base-clr;
    height:6px;
}
.progressbar_range{
    width:0;
    background:#394D5F;
    height:6px;
}