

/////////////nav-mobile/////////////
/////////////////////////////////////




@media screen and(max-width: 767px){
.main-icon{
  width: 45px;
  height: 45px !important;
  z-index: 200;
  margin-right: 0px;
/*  position: fixed;*/ //choix toujoours visible
  position: absolute;
  transition: transform 0.5s;
  cursor: pointer;
  right: 10px !important;
  left: inherit !important;
  
   .hamb{
      display: block;
      position: absolute;
      top: 45%;
      left: 50%;
      width: 25px;
      height: 2px;
      background-color: $color_secondary;
      transform: translateX(-50%) translateY(-50%);
      
        &::before, &::after{
          content:'';
          display: block;
          position: absolute;
          top: 0;
          left: 0px;
          width: 25px;
          height: 2px;
          background-color: $color_secondary;
          transform: translateY(-5px);
          transition: transform 0.3s;
        }
        
        &::after{
            width: 25px;
            left: 0px;
          transform: translateY(5px);
        }
    }

         &:hover{

          .hamb{
            transition: background 0.1s;
          }

             .hamb::before{
              transform: translateY(-5px);
            }

           .hamb::after{
              transform: translateY(5px);
            }    
        }

         &.is-open{

             .hamb{
              background: transparent !important;
            }
             .hamb::before{
               width: 25px;
               left: 0;
               transform: translateY(0) rotate(45deg);
               background: #fff; 
            }
            .hamb::after{
                width: 25px;
                left: 0;
                transform: translateY(0) rotate(-45deg);
                background: #fff;
            }
            &:hover{
              transition: 0.7s;
            }
        }
        
        &.is-open-color{
          border: none;
          background-color: transparent;
          
        }
      
}

.bg-nav-mobile{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 98;
    overflow: hidden;
/*    background: -webkit-linear-gradient(30deg, #4B217F, #130C1C);
    background: -o-linear-gradient(30deg, #4B217F, #130C1C);
    background: -moz-linear-gradient(30deg, #4B217F, #130C1C);
    background: linear-gradient(30deg, #4B217F, #130C1C);*/
    background: $color_primary;
    transition: all 0.9s ease-in-out;
    opacity: 0;
    visibility: hidden; 
    
    &.open{
        opacity: 0.95;
        visibility: visible;
        transition: all 0.9s ease-in-out;
        
  
        
    }
}

/*.nav-mobile {
    opacity: 0;
    visibility: hidden;
    transition: all 0.9s cubic-bezier(0.77, 0.06, 0.28, 0.85);
    &.open{
        opacity: 0.95;
        visibility: visible;
        transition: all 0.9s cubic-bezier(0.77, 0.06, 0.28, 0.85);

        
    }
}   */

}

@media screen and(min-width:768px){
#waveNavMobile {
    display: none;
}
}

/////////////end-nav-mobile/////////////
/////////////////////////////////////


.navbar{
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    max-height: 55px;
    min-height: 40px;
}
@media screen and(min-width:768px){
.navbar-right{
 margin-right: 0;
 top: 0;
}
}

@media screen and(max-width:767px){
.navbar-right{
 position: absolute;
 width: 100%;
 left: 0;
 top: auto;
}
}


@media screen and(max-width:768px){
    .navbar-default {
        background-color: #fff;
        .navbar-brand {
     color: $color_secondary;  
    }
    }   
}

@media screen and(min-width:768px){
.navbar-default {
    position: absolute;
    width: 100%;
    opacity: 0;
    font-family: $font_title;
    z-index: 102;
    transition: opacity .5s ease-in-out;
    background-color: transparent;
    border-color: transparent;
    
    .navbar-brand {
     color: $color_secondary;
     &:hover {
         color: $color_secondary;
     }
    }
}
}
@media screen and(min-width: 768px){
.navbar-default .navbar-nav>li>a {
    color: $color_secondary;
    border-bottom: 4px solid transparent;
    transition: border 0.3s ease-in-out;
    &:hover {
        color: $color_secondary;
        border-bottom: 4px solid $color_primary;
        transition: border 0.3s ease-in-out;
    }
}
}


/*@media (max-width: 768px){
.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 0;
}
}*/

@media (min-width: 768px){
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 0;
    
}
}

@media (min-width: 1024px){
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 0;
}
}

@media screen and(max-width: 767px){
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-family: $font_title;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    transition:  0.2s ease-in-out;
    &:hover {
        color: $color_secondary;
        transition:  0.2s ease-in-out;
    }
}
}

@media screen and(min-width: 768px){
.navbar-default .nav {
    position: fixed;
    right: 40px;
/*    background-color: $white;*/
}
}

@media screen and(min-width: 1024px){
.navbar-default .nav {
    position: fixed;
    right: 45px;
/*    background-color: $white;*/
}
}

@media screen and(min-width: 1200px){
.navbar-default .nav {
    position: fixed;
    right: 55px;
/*    background-color: $white;*/
}
}

@media screen and(max-width: 767px){
.navbar-default .nav {
    text-align: center;
    margin:0;
/*    background-color: $white;*/
}
}

@media screen and(max-width: 768px){
.navbar-brand {
    padding: 10px 10px;
}
}

@media screen and(min-width: 1024px){
.navbar-brand {
    padding: 15px 10px;
}
}

.logo {
 font-weight: 900;   
}

@media screen and(min-width: 768px){
.logo {
    position: fixed;
    z-index: 101;
    display: inline-block;
    left: 40px;
    font-size:  16px;
}
.navbar>.navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}
}

@media screen and(min-width: 1200px){
.logo {
    position: fixed;
    z-index: 101;
    display: inline-block;
    left: 55px;
    font-size:  16px;
}
.navbar>.navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}
}

@media screen and(max-width: 768px){
.icon-logo{
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    color: $color_secondary;
    span img{
        width: 17px;
        height: 19px;
    }
}
}

@media screen and(min-width: 1024px){
.icon-logo{
    float: left;
    margin-top: 12px;
    margin-left: 15px;
    color: $color_secondary;
       span img{
        width: 24px;
        height: 28px;
    }
}
}

.name-light {
    font-weight: 100;
}




