@import "_variable.scss";

/////////////nav-mobile/////////////
/////////////////////////////////////

@media screen and(max-width: 767px){
.main-icon{
  width: 45px;
  height: 45px !important;
  z-index: 5000;
  margin-top: 3px;
  margin-right: 0px;
  position: fixed;
  transition: transform 0.5s;
  cursor: pointer;
  right: 10px !important;
  left: inherit !important;
  
   .hamb{
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 2px;
      background-color: $color_secondary;
      transform: translateX(-50%) translateY(-50%);
      
        &::before, &::after{
          content:'';
          display: block;
          position: absolute;
          top: 0;
          left: -10px;
          width: 40px;
          height: 2px;
          background-color: $color_secondary;
          transform: translateY(-8px);
          transition: transform 0.3s;
        }
        
        &::after{
            width: 20px;
            left: 10px;
          transform: translateY(8px);
        }
    }

         &:hover{

          .hamb{
            transition: background 0.1s;
          }

             .hamb::before{
              transform: translateY(-8px);
            }

           .hamb::after{
              transform: translateY(8px);
            }    
        }

         &.is-open{

             .hamb{
              background: transparent !important;
            }
             .hamb::before{
               width: 40px;
               left: 0;
               transform: translateY(0) rotate(45deg);
               background: -webkit-linear-gradient(left, #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
               background: -o-linear-gradient(right,  #f94545, #ff8668); /* For Opera 11.1 to 12.0 */
               background: -moz-linear-gradient(right,  #f94545, #ff8668); /* For Firefox 3.6 to 15 */
               background: linear-gradient(to right,  #f94545, #ff8668); /* Standard syntax */
            }
            .hamb::after{
                width: 40px;
                left: 0;
                transform: translateY(0) rotate(-45deg);
                background: -webkit-linear-gradient(left, #f94545, #ff8668); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(right,  #f94545, #ff8668); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(right,  #f94545, #ff8668); /* For Firefox 3.6 to 15 */
                background: linear-gradient(to right,  #f94545, #ff8668); /* Standard syntax */
            }
            &:hover{
              transition: 0.7s;
            }
        }
        
        &.is-open-color{
          border: none;
          background-color: transparent;
          
        }
      
}

.bg-nav-mobile{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 98;
    overflow: hidden;
/*    background: -webkit-linear-gradient(30deg, #4B217F, #130C1C);
    background: -o-linear-gradient(30deg, #4B217F, #130C1C);
    background: -moz-linear-gradient(30deg, #4B217F, #130C1C);
    background: linear-gradient(30deg, #4B217F, #130C1C);*/
    background-color: $color_primary;
    transition: all 0.9s cubic-bezier(0.77, 0.06, 0.28, 0.85);
    opacity: 0;
    visibility: hidden; 
    
    &.open{
        opacity: 1;
        visibility: visible;
    }
}


.nav-mobile {
    display: none;
}
}

/////////////end-nav-mobile/////////////
/////////////////////////////////////


.navbar{
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    max-height: 55px;
    min-height: 40px;
}
.navbar-right{
 margin-right: 0;   
}

.navbar-default {
    font-family: $font_title;
    z-index: 102;
    background-color: transparent;
    border-color: transparent;
    .navbar-brand {
     color: $color_secondary;  
    }
}

.navbar-default .navbar-nav>li>a {
    color: $color_secondary;
}


.navbar-default .nav {
    position: fixed;
    right: 40px;
/*    background-color: $white;*/
}



.navbar-brand {
    padding: 15px 10px;
}

.logo {
 font-weight: 900;   
}

@media screen and(min-width: 768px){
.logo {
    position: fixed;
    z-index: 101;
    display: inline-block;
    left: 40px;
    font-size:  16px;
}
.navbar>.navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}
}

.icon-logo{
    float: left;
    margin-top: 16px;
    margin-left: 15px;
    color: $color_secondary;
    .fa{
        margin-right: 0;
    }
}

.name-light {
    font-weight: 100;
}




