/// navigation genre desktop///
@media screen and(min-width: 768px){
.main-icon-genre{
    width: 45px;
    height: 45px !important;
    z-index: 5000;
    position: absolute;
    transition: transform 0.5s;
    cursor: pointer;
    right: 15px !important;
    top: -5px;
  
   .hamb-genre{
      display: block;
      position: absolute;
      width: 30px;
      height: 2px;
      top: 50%;
      left: 50%;
      background-color: $color_secondary;
      transform: translateX(-50%) translateY(-50%);
      
        &::before, &::after{
          content:'';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          height: 2px;
          background-color: $color_secondary;
          transform: translateY(-8px);
          transition: transform 0.3s;
        }
        
        &::after{
            width: 30px;
            left: 0;
          transform: translateY(8px);
        }
    }

         &:hover{

          .hamb-genre{
            transition: background 0.1s;
          }

             .hamb-genre::before{
              transform: translateY(-8px);
            }

           .hamb-genre::after{
              transform: translateY(8px);
            }    
        }

         &.is-open{

             .hamb-genre{
              background: transparent !important;
            }
             .hamb-genre::before{
               width: 40px;
               left: 0;
               transform: translateY(0) rotate(45deg);
               background: $color_primary;
            }
            .hamb-genre::after{
                width: 40px;
                left: 0;
                transform: translateY(0) rotate(-45deg);
                background: $color_primary;
            }
            &:hover{
              transition: 0.7s;
            }
        }
        
        &.is-open-color{
          border: none;
          background-color: transparent;
          
        }
      
}

}






///////////
////////////

.productions .navbar-default {
    opacity: 1 !important;
}

.productions {
    background-color: $color-background;
}

@media screen and(min-width:768px){
.container-prod {
    padding-left: 40px;
    padding-right: 40px;
}
}

@media screen and(min-width: 992px){
.container-prod {
    padding-left: 45px;
    padding-right: 45px;
}
}

@media screen and(min-width: 1200px){
.container-prod {
    padding-left: 55px;
    padding-right: 55px;
}
}


@media screen and(max-width: 768px){
.genres-mobile {
  color: $color_secondary;
  text-align: center;
  padding: 15px 15px;
  ul {
      list-style: none;
      padding: 0;
  }
  li{
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
      }
      .fa {
          margin-right: 0;
      }   
}    
}

@media screen and(min-width: 768px){
.genres-mobile {
    display: none;
}
}


@media screen and(max-width: 767px){
.genres {
    display: none;
}
}

@media screen and(min-width: 768px){
.genres {
    padding-right: 50px;
    padding-top: 7px;
    z-index: 2;
    color: $color_secondary;
    transition: color 0.3s ease-in-out;
    &.genres-open{
       color: $color_primary;
       transition: color 0.3s ease-in-out; 
    }
}


}

///////// nav genre desk////////
////////////////////////////////
@media screen and(min-width: 768px){
.wraper {
    width: 100%;
    height: 0;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    transition: height 0.4s ease-in-out;
    &.wraper-open {
        height: 35vh;
        transition: height 0.4s ease-in-out;
        
    }
    
}

.nav-genres {
    text-align: center;
    top: 0;
    position: relative;
    transition: top 0.5s ease-in-out;
    text-transform: uppercase;
    
    
    ul{
      list-style: none;
      padding: 0; 
    }
    li {
        display: inline-block;
        opacity: 0;
        padding: 0 15px;
        transition: 0.3s ease-in-out;
        color: $color_secondary;
    }
    .fa {
        margin-right: 0;
        font-size: 18px;
    }
}

.nav-style-genres {
    color: $color_secondary;
    font-family: $font_title;
    font-weight: 800;
    padding-bottom: 6px;
    border-bottom: 4px solid transparent;
    transition: border 0.3s ease-in-out;
    &:hover {
        text-decoration: none;
        color: $color_secondary;
        border-bottom: 4px solid $color_primary;
        transition: border 0.3s ease-in-out;
    }
}

.wraper-open .nav-genres {
    top: 60%;
    transition: top 0.5s ease-in-out;
}

.wraper-open .nav-genres li {
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.push-prod {
    margin-top: 0;
    transition: 0.3s ease-in-out;
    &.push-down {
      margin-top: 10%;
    transition: 0.3s ease-in-out;  
    }
}

}

/////////////////////////////////

.title-rubrique{
     margin: 0;
     font-family: $font_title;
     text-transform: uppercase;
     font-size: 20px;
     font-weight: 900;
      &:after {
          position: absolute;
          content:'';
          width: 2px;
          height: 22px;
          margin-left: 10px;
          background-color: $color_secondary;
          transition: background 0.3s ease-in-out; 
      }
}

.genres-open .title-rubrique::after {
    background: $color_primary;
    transition: background 0.3s ease-in-out; 
}

@media screen and(min-width: 768px){
 .title-rubrique{
       padding-left: 35px;
 }
}

@media screen and(min-width: 1024px){
 .title-rubrique{
       padding-left: 20px;
 }
}

@media screen and(min-width: 1200px){
 .title-rubrique{
       padding-left: 60px;
 }
}

.genres-rubrique {
    position: absolute;
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    padding-top: 4px;
    padding-left: 25px;
    font-weight: 200;
    text-transform: capitalize;
    
}

.searching {
    padding-top: 60px;
}

@media screen and(min-width: 768px){
.searching {
    display: flex;
    justify-content: space-between;
}
}

.search {

}


.form-control {
    border-radius: 0;
    line-height: 30px;
    width: 100%;
    resize: none;
}

.btn-search {
    border-radius: 0;
    background-color: $color_secondary;
    color: #fff;
    .fa {
        margin:0;
    }
}

.intro-production {
    max-width: 40%;
}

