/// navigation genre desktop///
@media screen and(min-width: 768px){
.main-icon-genre{
    width: 45px;
    height: 45px !important;
    z-index: 5000;
    position: absolute;
    transition: transform 0.5s;
    cursor: pointer;
    right: 15px !important;
    top: -5px;
  
   .hamb-genre{
      display: block;
      position: absolute;
      width: 30px;
      height: 2px;
      top: 50%;
      left: 50%;
      background-color: $color_secondary;
      transform: translateX(-50%) translateY(-50%);
      
        &::before, &::after{
          content:'';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          height: 2px;
          background-color: $color_secondary;
          transform: translateY(-8px);
          transition: transform 0.3s;
        }
        
        &::after{
            width: 30px;
            left: 0;
          transform: translateY(8px);
        }
    }

         &:hover{

          .hamb-genre{
            transition: background 0.1s;
          }

             .hamb-genre::before{
              transform: translateY(-8px);
            }

           .hamb-genre::after{
              transform: translateY(8px);
            }    
        }

         &.is-open{

             .hamb-genre{
              background: transparent !important;
            }
             .hamb-genre::before{
               width: 40px;
               left: 0;
               transform: translateY(0) rotate(45deg);
               background: $color_primary;
            }
            .hamb-genre::after{
                width: 40px;
                left: 0;
                transform: translateY(0) rotate(-45deg);
                background: $color_primary;
            }
            &:hover{
              transition: 0.7s;
            }
        }
        
        &.is-open-color{
          border: none;
          background-color: transparent;
          
        }
      
}

}






///////////
////////////

.productions .navbar-default {
    opacity: 1 !important;
}

.productions {
    background-color: $color-background;
}

@media screen and(min-width:768px){
.container-prod {
    padding-left: 40px;
    padding-right: 40px;
}
}

@media screen and(min-width: 992px){
.container-prod {
    padding-left: 45px;
    padding-right: 45px;
}
}

@media screen and(min-width: 1200px){
.container-prod {
    padding-left: 55px;
    padding-right: 55px;
}
}


@media screen and(max-width: 768px){
.genres-mobile {
  color: $color_secondary;
  text-align: center;
  padding: 15px 15px;
  ul {
      list-style: none;
      padding: 0;
  }
  li{
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
      }
      .fa {
          margin-right: 0;
      }   
}    
}

@media screen and(min-width: 768px){
.genres-mobile {
    display: none;
}
}


@media screen and(max-width: 767px){
.genres {
    display: none;
}
}

@media screen and(min-width: 768px){
.genres {
    padding-right: 50px;
    padding-top: 7px;
    z-index: 2;
    color: $color_secondary;
    transition: color 0.3s ease-in-out;
    &.genres-open{
       color: $color_primary;
       transition: color 0.3s ease-in-out; 
    }
}


}
@media screen and(max-width: 767px){
.nav-genres {
    display: none;
}
}

@media screen and(max-width: 768px){
  .nav-style-genres {
    color: $color_secondary;
    font-family: $font_title;
    font-weight: 800;
    padding-bottom: 6px;
    border-bottom: 4px solid transparent;
    transition: border 0.3s ease-in-out;
    &:hover {
        text-decoration: none;
        color: $color_secondary;
        border-bottom: 4px solid $color_primary;
        transition: border 0.3s ease-in-out;
    }
    .fa {
        margin-right: 0;
    }
}  
}

///////// nav genre desk////////
////////////////////////////////
@media screen and(min-width: 768px){
.wraper {
    width: 100%;
    height: 0;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    transition: height 0.4s ease-in-out;
    &.wraper-open {
        height: 34vh;
        transition: height 0.4s ease-in-out;
        
    }
    
}

.nav-genres {
    text-align: center;
    top: 0;
    position: relative;
    transition: top 0.5s ease-in-out;
    text-transform: uppercase;
    
    
    ul{
      list-style: none;
      padding: 0; 
    }
    li {
        display: inline-block;
        opacity: 0;
        padding: 0 15px;
        transition: 0.3s ease-in-out;
        color: $color_secondary;
    }
    .fa {
        margin-right: 0;
        font-size: 18px;
    }
}

.nav-style-genres {
    color: $color_secondary;
    font-family: $font_title;
    font-weight: 800;
    padding-bottom: 6px;
    border-bottom: 4px solid transparent;
    transition: border 0.3s ease-in-out;
    margin-right: 10px;
    &:hover {
        text-decoration: none;
        color: $color_secondary;
        border-bottom: 4px solid $color_primary;
        transition: border 0.3s ease-in-out;
    }
    .fa {
        margin-right: 0;
    }
}

.wraper-open .nav-genres {
    top: 60%;
    transition: top 0.5s ease-in-out;
}

.wraper-open .nav-genres li {
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.push-prod {
    margin-top: 0;
    transition: 0.3s ease-in-out;
    &.push-down {
      margin-top: 11%;
    transition: 0.3s ease-in-out;  
    }
}



}

/////////////////////////////////

.title-rubrique{
     margin: 0;
     font-family: $font_title;
     text-transform: uppercase;
     font-size: 20px;
     font-weight: 900;
      &:after {
          position: absolute;
          content:'';
          width: 2px;
          height: 22px;
          margin-left: 10px;
          background-color: $color_secondary;
          transition: background 0.3s ease-in-out; 
      }
}

.genres-open .title-rubrique::after {
    background: $color_primary;
    transition: background 0.3s ease-in-out; 
}

@media screen and(min-width: 768px){
 .title-rubrique{
       padding-left: 35px;
 }
}

@media screen and(min-width: 1024px){
 .title-rubrique{
       padding-left: 20px;
 }
}

@media screen and(min-width: 1200px){
 .title-rubrique{
       padding-left: 60px;
 }
}

.genres-rubrique {
    position: absolute;
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    padding-top: 4px;
    padding-left: 25px;
    font-weight: 200;
    text-transform: capitalize;
    
}


@media screen and(min-width: 768px){
.searching {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
}



.form-control {
    border-radius: 0;
    line-height: 30px;
    width: 100%;
    resize: none;
}

.btn-search {
    border-radius: 0;
    background-color: $color_secondary;
    color: #fff;
    .fa {
        margin:0;
    }
}

@media screen and(max-width: 1200px){
.intro-production {
    max-width: 100%;
}
}

@media screen and(min-width: 1200px){
.intro-production {
    max-width: 50%;
}
}

@media screen and(max-width: 1024px){
.sound {
    margin-top: 5%;
    width: 100%;
}
}

@media screen and(min-width: 1200px){
.sound {
    margin-top: 5%;
}
}


.vignette {
    padding-top: 40px;
}

.vignette img{
    width: 160px;
    height: 160px;
}

.content-sound {
    text-align: left;
    padding-top: 10px;
}

.desc-sound {
    text-align: justify;
    color: #929292;
    line-height: 1.5em;
    padding-bottom: 10px;
    &::first-letter {
    text-transform: capitalize;
    }
}

.line-sound {
    padding-bottom: 10px;
}

.line-seperate {
    width: 100%;
    background: $color_primary;
    height: 3px;
}

.icon-vynil {
    font-size: 17px;
    color: #929292;
}

.crea-year{
    color: #929292;
}

.title-sound {
    font-size: 17px;
    text-transform: capitalize;
    margin-bottom: 0;
    color: $color_secondary;
    font-family: $font_title;
}

.artist {
   color: #929292;
   display: block;
   padding-bottom: 15px;
}

.artist-name {
    text-transform: capitalize;
    font-weight: 700;
}


.label-sound {
    text-transform: capitalize;
    font-weight: 700;
    padding-top: 10px;
    span {
        font-weight: normal;
    }
}


.link-sound p{
    display: inline-block;
    padding-right: 10px;
    color: #929292;
    text-transform: capitalize;
}

.icon-link-sound {
padding-top: 15px;
}


.soundcloud-link, .spotify-link, .deezer-link {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

@media screen and(max-width: 768px){
#searching .container {
    padding-right: 0;
    padding-left: 0;
}
}


//////////// player audio////////


.audio-player {
  position: relative;
  width: 220px;
  height: 220px;
  text-align: center;
  background-color: $color_secondary;
}


.audio-player:focus .audio-player__cover,
.audio-player:hover .audio-player__cover,
.audio-player.is-playing .audio-player__cover {
  opacity: 0.35;
}
.audio-player:focus .audio-player__title,
.audio-player:hover .audio-player__title,
.audio-player.is-playing .audio-player__title {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.audio-player:focus .audio-player__control-icon,
.audio-player:hover .audio-player__control-icon,
 {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
          opacity: 1;
}
.audio-player.is-playing .audio-player__cover {
  opacity: 0.35;
}

.audio-player.is-playing .audio-player__control-icon:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.audio-player.is-playing .audio-player__control-icon:after {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.audio-player:hover .audio-player__control {
    opacity: 1;
}

.audio-player.is-playing .audio-player__control:focus {
    opacity: 1;
}

.audio-player__cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 220px;
  height: 220px;
  -webkit-transition: opacity 350ms;
  transition: opacity 350ms;
  will-change: opacity;
}
.audio-player__title {
  position: absolute;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  left: 10px;
  right: 10px;
  bottom: 0;
  top: 50%;
  padding-top: 50px;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  will-change: transform, opacity;
}
.audio-player__control {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0;
}
.audio-player__control:focus {
  outline: none;
  
}
.audio-player__control-icon {
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 3px solid #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  will-change: transform;
}

.audio-player__control-icon2 {
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/*.anim-round {
       -moz-animation: audio2 2.2s infinite ease-in-out;
            -o-animation: audio2 2.2s infinite ease-in-out;
            -webkit-animation: audio2 2.2s infinite ease-in-out;
            animation: audio2 2.2s infinite ease-in-out;
            
}*/

.audio-player__control-icon::after,
.audio-player__control-icon::before {
  -webkit-transition: all 200ms;
  transition: all 200ms;
  will-change: transform;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  
}
.audio-player__control-icon::after {
  left: 5px;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 20px solid #fff;
  -webkit-transform: translateY(0);
          transform: translateY(0);
          
}
.audio-player__control-icon::before {
  width: 15px;
  height: 30px;
  border-right: 6px solid #fff;
  border-left: 6px solid #fff;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
          
}


@media screen and(max-width: 1023px){
.audio-players {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
}

@media screen and(min-width: 1024px){
.audio-players {
  list-style: none;
  margin: 0;
  padding: 0;
}
}
.audio-players li {
  display: inline-block;
  vertical-align: top;
  max-width: 300px;
  margin-top: 30px;
}



.animate-audio1 {
   -moz-animation: audio1 2.5s infinite ease-in-out;
   -o-animation: audio1 2.5s infinite ease-in-out;
   -webkit-animation: audio1 2.5s infinite ease-in-out;
   animation: audio1 2.5s infinite ease-in-out;
}
@keyframes audio1 {
   0%,
   100% {
      box-shadow: 0 0 0 0.8em rgba(255, 255, 255, 0.4);
   }
   25% {
      box-shadow: 0 0 0 0.15em rgba(255, 255, 255, 0.15);
   }
   50% {
      box-shadow: 0 0 0 0.75em rgba(255, 255, 255, 0.55);
   }
   75% {
      box-shadow: 0 0 0 0.45em rgba(255, 255, 255, 0.25);
   }
}
.animate-audio2 {
   -moz-animation: audio2 2.9s infinite ease-in-out;
   -o-animation: audio2 2.9s infinite ease-in-out;
   -webkit-animation: audio2 2.9s infinite ease-in-out;
   animation: audio2 2.9s infinite ease-in-out;

}
@keyframes audio2 {
   0%,
   100% {
      box-shadow: 0 0 0 0.45em rgba(255, 255, 255, 0.15);
   }
   25% {
      box-shadow: 0 0 0 0.8em rgba(255, 255, 255, 0.3);
   }
   50% {
      box-shadow: 0 0 0 0.15em rgba(255, 255, 255, 0.05);
   }
   75% {
      box-shadow: 0 0 0 0.75em rgba(255, 255, 255, 0.45);
   }
}

////////// no result search /////////

/*.no-result {
    float: none;
    margin: auto;
    text-align: center;
}

.alert-nofind {
    color: #ffffff;
    background-color: $color_primary;
    border-color: $color_primary;
}*/

.no-result {
    font-family: $font_title;
    font-weight: 900;
    font-size: 35px;
    color: $color_secondary;
    text-align: center;
    position: absolute;
    top: 0;
    -moz-animation: fadeIn 0.9s  ease-in-out;
   -o-animation: fadeIn 0.9s  ease-in-out;
   -webkit-animation: fadeIn 0.9s  ease-in-out;
   animation: fadeIn 0.9s  ease-in-out;
    svg {
        margin-top: -10px;
    }
    p {
        margin: 0;
    }
}
 .no-result-lite {
       font-weight: 200;
       font-size: 25px;
       .fa-circle {
           color: $color_primary;
       }
    }

///////////////// pagination ///////////

#pagination .pagination>li:first-child>a, .pagination>li:first-child>span {
    display: none;
}

#pagination .pagination>li:last-child>a, .pagination>li:last-child>span {
    display: none;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: $color_primary;
    border-color: $color_primary;
}

.pagination>li>a, .pagination>li>span {
    color: $color_secondary;
}