


@media screen and(min-width: 1200px){
.present {
   padding-bottom: 90px;
}
}


.img-present {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.img-round {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 8px solid #fff;
    background-color: $color_secondary;
    overflow: hidden;
    img{
    width: 160px;
    margin-left: -25px;
    }   
}


///////////big phrase mobile////////////////
////////////////////////////////////////////

#BigPhrase {
    text-align: center;
    font-family: "Viafont";
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 50vh;
    
}

.anim-hello {
    -webkit-animation: bounceInLeft 2000ms ease-in-out;
    animation: bounceInLeft 2000ms ease-in-out; 
}

.first-anim-txt {
    -webkit-animation: fadeIn 2000ms ease-in-out;
    animation: fadeIn 2000ms ease-in-out; 
}

.second-anim-txt {
    -webkit-animation: bounceInRight 1000ms ease-in-out;
    animation: bounceInRight 1000ms ease-in-out;  
}

.last-anim-txt {
   -webkit-animation: fadeInUp 1500ms ease-in-out;
    animation: fadeInUp 1500ms ease-in-out;   
}
.wave-anim {
    -webkit-animation: bounceInLeft 1500ms ease-in-out;
    animation: bounceInLeft 1500ms ease-in-out;  
}


.hello-mobile {
    font-size: 5em;
    color: $color_primary;
}

#Letter {
    position: relative;
}

.txt-hello {
    width: 65%;
    text-align: right;
    font-size: 2em;
    line-height: 0.6em;
    color: $color_primary;
}

.wave-hello {
    width: 30%;
    position: absolute;
    height: 50px;
    right: 0;
}

.min-wave {
    position: absolute;
    width: 70%;
    top: 22px;
    left: 10px;
}

.wave-o {  
    fill: $color_primary;
    position: absolute;
    -webkit-animation: rubberBand 3000ms infinite;
    animation: rubberBand 3000ms infinite; 
}

.wave-o-bottom {  
    fill: $color_primary;    
    top: 7px;
    position: absolute;
    -webkit-animation: rubberBand 3000ms infinite;
    animation: rubberBand 3000ms infinite; 
}

@media screen and(max-width: 767px){
.line-present {
    width: 100%;
    display: flex;
    justify-content: center;
}

.line-vertical {
    width: 2px;
    height: 70px;
    background-color: $color_secondary;
}
}

////////////////////////////
///////////////////////////

//////services///////////////

@media screen and(max-width: 768px){
#service .container {
    padding-left: 0;
    padding-right: 0;
}
}


.services {
    padding-top: 70px;
}


.item-icon-center {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.item-service {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.item-content {
   line-height: 1.3em;
   padding-left: 15px;
   padding-right: 15px;
   p{
       color: $gris;
       text-align: justify;
   }
}

.title-item {
       text-align: center;
       text-transform: uppercase;
       color: $color_primary;
       font-family: $font_title;
       font-weight: 600;
      
}

.item-icon {
    width: 60px;
    height: 60px;
}
@media screen and (max-width: 767px){
.bg-item-mobile {
   background-color: $color_background;
}
}

/////////////////////////
/////////////////////////

////////promotion/////////////

@media screen and (min-width: 1200px){
.title-promo {
    text-align: right;
    position: relative;
    padding-right: 0;
    padding-bottom: 60px;
    
}
}


@media screen and(min-width: 1200px){ 
.wave-promo {
    width: 200px;
    fill: $color_primary;
    position: absolute;
    top: 55px;
    right: -210px;
}
}


@media screen and(min-width: 1200px){
.promotion {
    display: flex;
    direction: rtl;
}
.img-promo-divide{
    width: 50%;
}

.txt-promo-divide {
    direction: ltr;
    padding-left: 95px;
}
.content-divide {
    width: 50%;
    padding-top: 50px;
    padding-right: 70px;
    padding-left: 40px;
}
}

@media screen and(max-width: 1200px){
.img-promo {
  position: relative;
}
}

/*
.content-left {
    min-height: 20vh;
    width: 50%;
}

.content-right {
    min-height: 20vh;
    width: 50%;
}*/


.txt-promo{
    line-height: 2em;
    text-align: justify;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;  
}

@media screen and(min-width: 1200px){
.icon-content {
  padding-top: 30px;
  direction: initial;
  padding-left: 95px;
} 
}

@media screen and(max-width: 1200px){
.icon-content {
   display: none;   
}
}


.icon-promo {
 width: 90px;
 margin-right: 20px
}

@media screen and(max-width: 767px){
.icon-round-promo {
display: none;

}
}

@media screen and(min-width: 768px) and(max-width: 1024px){
.icon-round-promo {
 margin-left: 15px;
 padding-right: 15px;
 direction: initial;
 margin-top: 40px;
 text-align: right;
 small{
     padding-right: 20px;
 } 
}
}

@media screen and(min-width: 1024px){
.icon-round-promo {
 margin-left: 15px;
 direction: initial;
 margin-top: 40px;
 text-align: right;
 small{
     padding-right: 20px;
 } 
}
}

.icon-round-promo {
    padding-bottom: 15px;
}

.icon-round-promo .fa {
    font-size: 25px;
    color: $color_secondary;
    margin-right: 20px;
}

.deezer {
    width: 23px;
    height: 23px;
    margin-right: 20px;
    margin-top: -10px;
}

/*.content-promo {
    max-width: 100%;
    padding-right: 15px;
    padding-left:  15px;
    
}*/

/*.link-promo {
    float: left;
}

.deezer {
    width: 25px;
    padding-top: 2px;
}

.icon-promo {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.pos-icon {
    max-width: 150px;
    margin-left: 30px;
}*/



