@import "_variable.scss";

@font-face {
    font-family: "Viafont";
    src: url("../../../fonts/Viafont.otf");
}


body {
    font-family: $font;
/*    background-color: $color_background;*/
    width: 100%;
}


/////////structure//////////



@media screen and(min-width: 768px){

.border > * {
	position:fixed;
	z-index: 100;
	background: $white;
	height:20px;
	width:20px;
	pointer-events:none;
       
        
	&.frame-top {
		top:0;
		left:0;
		width:100%;
	}

	&.frame-bottom {
		bottom:0;
		left:0;
		width:100%;
	}

	&.frame-right {
		top:0;
		right:0;
		height:100%;	
	}

	&.frame-left {
		top:0;
		left:0;
		height:100%;
	}

}

.app{
    position: relative;
	z-index:1;
	overflow:hidden;
	min-height:100vh;
       
}

.page-container {
    position: relative;
   background: $color_background;
/*    overflow: hidden;*/
/*    -webkit-transition: -webkit-transform 500ms cubic-bezier(1, 0, 0, 1) 0ms;
    -moz-transition: -moz-transform 500ms cubic-bezier(1, 0, 0, 1) 0ms;
    transition: transform 500ms cubic-bezier(1, 0, 0, 1) 0ms;*/
    pointer-events: all;
    min-height: 100vh;
}

}


.app{
    position: relative;
	z-index:1;
	overflow:hidden;
	min-height:100vh;       
}

/*.container-front {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}*/

@media screen and (min-width: 768px){
/*    .container-front {
        width: 630px;
    }*/
   .frame-left, .frame-right {
        width: 0;
        &.visible-x{
         width: 40px;
        transition: width .5s .2s ease;
        }
    }
    .frame-top, .frame-bottom {
        height: 0px;
         &.visible-y{
          height: 40px;
         transition: height .5s .2s ease;
        }
    }
/*    .app {
        margin-left: 40px;
    }*/

}

@media screen and (min-width: 992px){
/*    .container-front {
        width: 810px;
    }*/
   .frame-left, .frame-right {
        width: 0;
        &.visible-x{
         width: 45px;
        transition: width .5s .2s ease;
        }
    }
    .frame-top, .frame-bottom {
        height: 0px;
         &.visible-y{
          height: 45px;
         transition: height .5s .2s ease;
        }
    }
/*    .app {
        margin-left: 45px;
    }*/
} 

@media screen and (min-width: 1200px){
    .frame-left, .frame-right {
        width: 0;
        &.visible-x{
         width: 55px;
        transition: width .5s .2s ease;
        }
    }
    .frame-top, .frame-bottom {
        height: 0px;
         &.visible-y{
          height: 55px;
         transition: height .5s .2s ease;
        }
    }

/*    .app {
        margin-left: 55px;
    }*/
}


///////////////////////////
////////////////////////////


/////// preload////////
#hola{
    width: 100%;
    height: 100vh;
    background-color: $color_primary;
    position: fixed;
    z-index: 110;
}



/////////// style type /////////

.txt-center{
    text-align: center;
}

.txt-txt{
    text-align: justify;
}

.txt-white {
    color: #fff;
}


.title-section {
    font-family: $font_title;
    color: $color_secondary;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
    h2{
        font-weight: bold;
}
}


.wave-title {
    width: 70px;   
    fill: $color_secondary;      
}


@media screen and(max-width: 767px){ 
    #Present > .wave-title {
        display: none;
    } 
}



.txt-section {
    color: $color_secondary;
    font-size: 16px;
    line-height: 2em;
}

@media screen and(min-width: 768px){
.line {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.line-intro {
    width: 2px;
    height: 70px;
    background-color: $color_secondary;
    z-index: 100;
    -webkit-animation: rubberBand 3000ms infinite;
    animation: rubberBand 3000ms infinite; 
}
}



.dark-txt {
    color: $color_secondary;
}

.bg-section {
    background-color: $color_background;
}

.bg-section-white {
    background-color: $white;
}

.padd-b-md {
    padding-bottom: 50px;
}

@media screen and(min-width: 768px) and (max-width: 1200px){
.padd-section {
    padding-left: 30px;
    padding-right: 30px;
}
}


////////social-icon///////

.social-round {
    
    border: 1px solid $color_primary;
    background-color: transparent;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    color: $color_primary;
    font-size: 15px;
    padding-top: 5px;
    transition: 0.4s;
    &:hover {
        background-color: $color_primary;
        transition: 0.4s;
       
        color: $white;
    }
}
