
body {
    font-family: $font;
/*    background-color: $color_background;*/
    width: 100%;
   
}

.home-page {
   overflow:hidden;
    position: fixed;  
}

.error {
    background: $color_secondary;
}

.error-number {
  font-weight: 600;
  font-family: $font;
}
.col-middle {
  font-family: $font_title;
}
/////////structure//////////



@media screen and(min-width: 768px){

.border > * {
	position:fixed;
	z-index: 100;
	background: $white;
	height:20px;
	width:20px;
	pointer-events:none;
       
        
	&.frame-top {
		top:0;
		left:0;
		width:100%;
	}

	&.frame-bottom {
		bottom:0;
		left:0;
		width:100%;
	}

	&.frame-right {
		top:0;
		right:0;
		height:100%;	
	}

	&.frame-left {
		top:0;
		left:0;
		height:100%;
	}

}



.app{
    position: relative;
	z-index:1;
	overflow:hidden;
	min-height:100vh;
       
}

.page-container {
    position: relative;
   background: $color_background;
/*    overflow: hidden;*/
/*    -webkit-transition: -webkit-transform 500ms cubic-bezier(1, 0, 0, 1) 0ms;
    -moz-transition: -moz-transform 500ms cubic-bezier(1, 0, 0, 1) 0ms;
    transition: transform 500ms cubic-bezier(1, 0, 0, 1) 0ms;*/
    pointer-events: all;
    min-height: 100vh;
}

}


.app{
    position: relative;
	z-index:1;
	overflow:hidden;
	min-height:100vh;       
}

/*.container-front {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}*/

@media screen and (min-width: 768px){
/*    .container-front {
        width: 630px;
    }*/
   .frame-left, .frame-right {
        width: 0;
        &.visible-x{
         width: 40px;
        transition: width .5s .2s ease;
        }
    }
    .frame-top, .frame-bottom {
        height: 0px;
         &.visible-y{
          height: 40px;
         transition: height .5s .2s ease;
        }
    }
    
        .bl, .br {
        width: 40px;
    }
    
    .bt, .bb {
        height: 40px;
    } 
/*    .app {
        margin-left: 40px;
    }*/

}

@media screen and (min-width: 992px){
/*    .container-front {
        width: 810px;
    }*/
   .frame-left, .frame-right {
        width: 0;
        &.visible-x{
         width: 45px;
        transition: width .5s .2s ease;
        }
    }
    .frame-top, .frame-bottom {
        height: 0px;
         &.visible-y{
          height: 45px;
         transition: height .5s .2s ease;
        }
    }
    
        .bl, .br {
        width: 45px;
    }
    
    .bt, .bb {
        height: 45px;
    } 
/*    .app {
        margin-left: 45px;
    }*/
} 

@media screen and (min-width: 1200px){
    .frame-left, .frame-right {
        width: 0;
        &.visible-x{
         width: 55px;
        transition: width .5s .2s ease;
        }
    }
    .frame-top, .frame-bottom {
        height: 0px;
         &.visible-y{
          height: 55px;
         transition: height .5s .2s ease;
        }
    }
    
    .bl, .br {
        width: 55px;
    }
    
    .bt, .bb {
        height: 55px;
    } 
  
/*    .app {
        margin-left: 55px;
    }*/
}


///////////////////////////
////////////////////////////


/////// preload////////
#hola{
    width: 100%;
    height: 100%;
    background-color: $color_primary;
    position: absolute;
    z-index: 250;
    top: 0;
}



/////////// style type /////////



.txt-center{
    text-align: center;
}

.text-left {
    text-align: left !important;
}

.txt-txt{
    text-align: justify;
}

.txt-white {
    color: #fff;
}

.right-pos {
    float: right;
}


.border-img {
    border: 2px solid $color_background;
}

.title-section {
    font-family: $font_title;
    color: $color_secondary;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
    h2{
        font-weight: bold;
}
}


.wave-title {
    width: 70px;   
    fill: $color_secondary;      
}

.wave-nav {
    width: 70px;   
    fill: #fff;
    padding-top: 20px;
}




@media screen and(max-width: 767px){ 
    #Present > .wave-title {
        display: none;
    } 
}



.txt-section {
    color: $color_secondary;
    font-size: 16px;
    line-height: 2em;
}

@media screen and(min-width: 768px){
.line {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.line-intro {
    width: 2px;
    height: 70px;
    background-color: $color_secondary;
    z-index: 100;
    -webkit-animation: rubberBand 3000ms infinite;
    animation: rubberBand 3000ms infinite; 
}
}



.dark-txt {
    color: $color_secondary;
}

.bg-section {
    background-color: $color_background;
}

.bg-dark {
    background-color: $color_secondary
}

.bg-section-white {
    background-color: $white;
}

.padd-b-md {
    padding-bottom: 50px;
}

.mg-top {
    margin-top: 50px;
}

.mg-top-sm {
    margin-top: 20px;
}

@media screen and(min-width: 768px) and (max-width: 1200px){
.padd-section {
    padding-left: 30px;
    padding-right: 30px;
}
}



.social-round {
    
    border: 1px solid $color_primary;
    background-color: transparent;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    color: $color_primary;
    font-size: 15px;
    padding-top: 5px;
    transition: 0.3s;
    &:hover {
        background-color: $color_primary;
        transition: 0.3s;
       
        color: $white;
    }
}
.social-round-dark {
    border: 1px solid $color_secondary;
     color: $color_secondary;
     &:hover {
        background-color: $color_secondary;
        color: $white;
    }
}

@media screen and(max-width: 768px) {
.footer {
    height: 20vh;
    padding: 20px 15px;
}
}


@media screen and(min-width: 768px) {
.footer {
/*    height: 20vh;*/
    padding: 50px 15px;
}
}

.footer {
    color: #888888;
    background-color: #fff;
}

@media screen and(min-width: 1024px) {
.credit {
   display: flex;
   justify-content: space-between;  
}
}

.credit  {
    
}

.social-icon {
 list-style: none;
 display: flex;
 justify-content: center;
 padding: 0;
}


.social-icon li {
    padding: 0 5px;
}



.social-icon li .fa {
    margin-right: 0;
}

@media screen and(max-width: 768px) {
.dev {
    padding: 10px 0; 
}
}

@media screen and(max-width: 1024px) {
.copy, .dev {
  text-align: center;
}
}

.dev {
 font-size: 10px;
 padding-top: 5px;
}
.author{
  color: $color_secondary;
  transition: 0.3s ease-in-out;
  &:hover {
    color: #888888;
        transition: 0.3s ease-in-out;
        text-decoration: none;   
  }
}

.email {
    font-family: $font_title;
    font-size: 20px;
    font-weight: 900;
    color: $color_secondary;
    transition: 0.3s ease-in-out;
    position: relative;
    &:hover {
        color: #888888;
        transition: 0.3s ease-in-out;
        text-decoration: none;
    }
    
}

.wave-footer {
    width: 40px;   
    fill: $color_secondary;
    position: absolute;
    left: -50px;
    top: 10px;
}


@media screen and(min-width: 768px) {
.footer .credit {
  padding-left: 40px;
  padding-right: 40px;
}
}


@media screen and(min-width: 992px) {
.footer .credit {
  padding-left: 45px;
  padding-right: 45px;
}
}

@media screen and(min-width: 1200px){
.footer .credit {
  padding-left: 55px;
  padding-right: 55px;
}
}

@media screen and(max-width: 768px){
.background-mobile {
    width: 100%;
    margin: 0;
}
}


@media screen and(max-width: 768px){
.color-white {
    background-color: #fff;
}
}


/////// to top btn ////////////////

.btn-top {
    transition: 0.2s ease-in-out;
}

.btn-top:hover {
    color:$color_secondary;
    transition: 0.2s ease-in-out;
}

@media screen and(min-width: 1024px){
    .btn-top {
    position: fixed;
    bottom: 100px;
    right: 40px;
    padding-top: 4px;
    padding-left: 15px;
    width: 50px;
    height: 90px;
    cursor: pointer;
    font-size: 30px;
    color: $color_primary;
    text-decoration: none;
    transition: 0.2s ease-out;
    opacity: 0;
    z-index: 100;
    }
    
    .txt-scroll {
        transform: rotate(90deg);
        color: $color_secondary;
        position: absolute;
        z-index: 10000;
        top: 50px;
        right: 20px;
        font-size: 10px;
    }    
}

.btn-top.show {
    opacity: 1;
}

@media screen and (max-width: 1023px){
    .to-top {
        text-align: center;
        height: 100%;
        .fa {
            margin-right: 0;
        }
    }
  
    .txt-scroll {
        transform: rotate(90deg);
        color: $color_secondary;
        font-size: 10px;
    }    
    
.btn-top {
cursor: pointer;
font-size: 30px;
color: $color_primary;
text-decoration: none;
transition: 0.2s ease-out;
&:hover{
    color: $color_secondary;
}
}
}