/////// font import////////////


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');

//////font type/////////

$font: "Open", Arial, sans-serif;

$font_title: "Raleway";


///////Color////////

$bleu_ciel: #4ECDC4; //#2FE2D9 #0FBAB7
$gris_clair:#F5F5F5; // #f8f8f8
$bleu_dark: #112233;
$black: #000;
$white: #fff;
$gris: #B8B8B8;
$gris_dark: #6C7A89;
$rouge: #D64541; //#F64747
$vert_eau: #26C281;
$jaune: #F5D76E;


//////Bg color type/////////

$color_primary: $bleu_ciel;
$color_secondary: $bleu_dark;
$color_background: $gris_clair;
$color_grey_dark: $gris_dark;




