{% extends '::base.html.twig' %}

 {% block stylesheets %}
     
      {{ parent() }}
        
         {% stylesheets output="css/compiled/main.css"

        
        
         filter='cssrewrite' %}
         <link rel="stylesheet" href="{{ asset_url }}" />
         {% endstylesheets %}
         {% endblock %}

  {% block body %}



             <p>hello</p>



   {% endblock %}
   
    {% block javascripts %}
         {{ parent() }}
         {% endblock %}