{% extends ':front:templateFront.html.twig' %}

  {% block content %}
      <div class="app"> 
    {% block header %}  
        <div class="header">
       <header id="bg-header"></header>
        </div>
    {% endblock %}
    
    {% block sections %}  
        
         {#   <div class="wech">
                <h1>hello</h1>
            </div>#}
    {% endblock %}
      
      </div>
  {% endblock %}  
