{% extends ':front:templateFront.html.twig' %}


  {% block content %}
      <div class="container">
    {% for sound in pagination %}            
  {% if not sound.genre.empty and sound.publier == true %}
   

      <p> {{ sound.titre }}</p>

       {% if not loop.last %}, {% endif %}
  {% endif %}
  {% endfor %}
   <div class="navigation">{{ knp_pagination_render(pagination) }}</div>


      </div>
  {% endblock %}
