{% extends 'baseFront.html.twig' %}

{% block body %}


<div id="hola">
<div id="svg">  
</div>
</div>
    
     <div class="main-icon" id="Hamb">
            <span class="hamb"></span>
     </div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
             
            <div class="logo">
        <a class="icon-logo" href=#"><i class="fa fa-grav" aria-hidden="true"></i></a>
        <a class="navbar-brand" href="#"><span class="name-light">Thomas</span> Brazz</a>       
    </div>
                </div>
         <div class="bg-nav-mobile nav-mobile" id="">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Productions</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
         </div>
            </div>
            </nav>


    
    <!--------------------------
    | Page Content Here |
    -------------------------->
  {% block content %}  
  {% endblock %}     
    <!--------------------------
    | End Content Here |
    -------------------------->
    <div class="border">
        <div class="frame-top"></div>
        <div class="frame-right"></div>
        <div class="frame-left"></div>
        <div class="frame-bottom"></div>
    </div>
    
{% endblock %}    
    
